#This file tells git to ignore certain files#
#############################################

#log files
*.log
*.jou

#compilation folders (note this is for Windows)
.Xil/
obj/
dump/ #note i use dump to contain my log files